<div class="main-title">
    <h1>Introducción a Angular Materials</h1>
</div>
<br />
<p>
    Angular Materials te da acceso a múltiples herramientas y componentes para poder diseñar
    aplicaciones web más vistosas de manera sencillo. Materials podría ser comparado con Bootstrap.
    También, materials realiza ciertas configuración de diseño general, como establecer la fuente
    'Roboto' como fuente predeterminada.
</p>
<!-- Instalación -->
<h2>Instalación</h2>
<mat-divider></mat-divider>
<br />
<p>
    Para instalar Angular Materials, debes usar el siguiente comando:
</p>
<br />
<div class="x-limit">
    <app-shell-layout> ng add @angular/material</app-shell-layout>
</div>
<br />
<!-- Botones -->
<h2 routerLink="/materials/botones" class="clickable">Botones</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <button (click)="buttonContent='( ͡° ͜ʖ ͡°)'" mat-raised-button color="warn" style="min-width: 90px;">
            {{buttonContent}}
        </button>
    </div>
</div>
<br>

<!-- Spinners -->
<h2>Spinners</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-spinner color="warn"></mat-spinner>
    </div>
</div>
<br>

<!-- Progress bar -->
<h2>Progress bar</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <br>
    <div class="center-content">
        <mat-progress-bar color="warn" mode="buffer"></mat-progress-bar>
    </div>
    <br><br>
    <div class="center-content">
        <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
    </div>
</div>
<br>

<!-- Slider -->
<h2>Slider</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-slider color="warn">
            <input matSliderThumb>
        </mat-slider>
    </div>
</div>
<br>

<!-- Ripples -->
<h2>Ripples</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <div class=" center-content square" matRipple>
            <span style="color: white; font-size: 50px;">Click</span>
        </div>
    </div>
</div>
<br>

<!-- Checkbox -->
<h2>Checkbox</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content" style="flex-direction: column;">
        <h4>Selecciona las tareas a hacer</h4>
        <div>
            <p>
                <mat-checkbox color="warn">Suscribirse</mat-checkbox>
            </p>
            <p>
                <mat-checkbox color="primary">Donar</mat-checkbox>
            </p>
            <p>
                <mat-checkbox color="accent">Compartir contenido</mat-checkbox>
            </p>
        </div>
    </div>
</div>
<br>

<!-- Radio Button -->
<h2>Radio Button</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content" style="flex-direction: column;">
        <label id="example-radio-group-label">Selecciona una opción</label>
        <div>
            <mat-radio-group class="radio-group">
                <mat-radio-button class="radio-button" color="warn" *ngFor="let radioOption of radioOptions" [value]="radioOption">
                    {{radioOption}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
<br>

<!-- Select -->
<h2>Select</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content" style="flex-direction: column;">
        <label id="example-radio-group-label">Selecciona una opción</label>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Tutoriales</mat-label>
                <mat-select>
                  <mat-option *ngFor="let selectOption of selectOptions" [value]="selectOption">
                    {{selectOption}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
</div>
<br>

<!-- Button Toggle -->
<h2>Button Toggle</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content" style="flex-direction: column;">
        <div>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value=0>Lento</mat-button-toggle>
                <mat-button-toggle value=1>Normal</mat-button-toggle>
                <mat-button-toggle value=2>Rápido</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
    </div>
</div>
<br>

<!-- Slide (Switch) -->
<h2>Slide (Switch)</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <br> <br>
        <mat-slide-toggle color="warn">Activar</mat-slide-toggle>
    </div>
</div>
<br>

<!-- Icon -->
<h2>Icon</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-icon svgIcon="account-plus" style="margin-top: 10px; color: green;"></mat-icon>
    </div>
</div>
<br>

<!-- Badge -->
<h2>Badge</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-icon matBadge="6" matBadgeColor="warn" svgIcon="bell" style="margin-top: 10px; color: black;"></mat-icon>
    </div>
</div>
<br>

<!-- Card -->
<h2>Card</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Conejo programador</mat-card-title>
              <mat-card-subtitle>contacto@cprogramadores.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-content" src="/angular/assets/images/materials/rabbit-post.jpg" alt="Post">
            <mat-card-content>
              <p>
                Amo leer, mientras tomo lluvia y esucho el café. #Programando #Developer #DónenmePls
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button><mat-icon svgIcon="heart" style="color: red;"></mat-icon></button>
              <button mat-button><mat-icon svgIcon="share-variant" style="color: black;"></mat-icon></button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<br>

<!-- Autocomplete -->
<h2>Autocomplete</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Country</mat-label>
              <input type="text"
                     placeholder="Elige un país"
                     aria-label="Countries"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
    </div>
</div>
<br>

<!-- Tooltip -->
<h2>Tooltip</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <button mat-icon-button matTooltip="Copiar" matTooltipPosition="above" aria-label="Donación">
            <mat-icon style="color: black;" svgIcon="clipboard-text-multiple-outline"></mat-icon>
          </button>
    </div>
</div>
<br>

<!-- DatePicker -->
<h2>DatePicker</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
    </div>
</div>
<br>

<!-- Divider -->
<h2>Divider</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content" style="flex-direction: column;">
        <p>Sección anterior</p>
        <mat-divider style="width: 90%;"></mat-divider>
        <br>
        <p>Sección siguiente</p>
    </div>
</div>
<br>

<!-- Toolbar -->
<h2>Toolbar</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <mat-toolbar class="color-red-3">
            <button mat-icon-button aria-label="Toggle sidenav">
              <mat-icon svgIcon="menu"></mat-icon>
            </button>
            <span style="cursor: pointer;">Guía de Angular</span>
            <span class="spacer"></span>
            <button mat-icon-button matTooltip="Donar :D" aria-label="Donación">
              <mat-icon svgIcon="coffee"></mat-icon>
            </button>
            <button mat-icon-button matTooltip="Canal de Youtube" aria-label="Youtube">
              <mat-icon svgIcon="youtube"></mat-icon>
            </button>
          </mat-toolbar>
    </div>
</div>
<br>

<!-- Sidenav -->
<h2 class="clickable">Sidenav</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <button mat-raised-button color="warn" (click)="ToggleSidebar()">
            Abrir Sidenav
        </button>
    </div>
</div>
<br>

<!-- Form field -->
<h2 class="clickable">Form field</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content" style="flex-direction: column;">
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">Opción 1</mat-option>
              <mat-option value="two">Opción 2</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
    </div>
</div>
<br>

<!-- Snackbar -->
<h2 class="clickable">Snackbar</h2>
<mat-divider></mat-divider>
<br>
<div class="playground">
    <div class="center-content">
        <button mat-raised-button color="warn" (click)="runSnackbar()">
            Abrir Snackbar
        </button>
    </div>
</div>
<br>

<!-- Navigation -->
<div class="page-navigator">
    <button mat-raised-button class="primary-button" disabled="true">
        <mat-icon svgIcon="chevron-left"></mat-icon>
        Anterior
    </button>
    <button mat-raised-button class="primary-button" routerLink="/materials/botones" style="margin-left: 20px">
        Siguiente
        <mat-icon svgIcon="chevron-right"></mat-icon>
    </button>
</div>