<div class="main-title">
  <h1>Ripples</h1>
</div>
<br />
<p>
  A continuación se presentarán ejemplos del uso ripples con Angular Materials.
</p>
<br />
<!-- Implementación -->
<section id="implementación">
  <h2>Implementación</h2>
  <mat-divider></mat-divider>
  <br />
  <p>
    Para el correcto funcionamiento de los ripples, se requiere de importar el
    siguiente módulo:
  </p>
  <br />
  <div class="code-screen">{{ importString }}</div>
</section>
<br />
<!--  Ripple -->
<section id="básico">
  <h2>Ripple</h2>
  <mat-divider></mat-divider>
  <br />
  <div class="demostration-container">
    <p><b>Ejemplo:</b></p>

    <div class="playground demo-content centerSection">
      <div class="square" matRipple></div>
      <br />
    </div>
    <p><b>Código:</b></p>
    <div class="playground">
      <app-example-code
        [htmlContent]="basicHtml"
        [cssContent]="basicCss"
      ></app-example-code>
    </div>
  </div>
</section>
<br />

<!--  Opciones -->
<section id="opciones">
    <h2>Opciones</h2>
    <mat-divider></mat-divider>
    <br />
    <div class="demostration-container">
      <p><b>Ejemplo:</b></p>
    
      <div class="playground demo-content centerSection">
        <div
          class="square"
          matRipple
          [matRippleCentered]="true"
          [matRippleColor]="'#D2543E'"
          [matRippleUnbounded]="true"
          [matRippleRadius]="300"
        ></div>
        <br />
      </div>
      <p><b>Código:</b></p>
      <div class="playground">
        <app-example-code [htmlContent]="optionsHtml"></app-example-code>
      </div>
    </div>
</section>
<br />

<!-- Parámetros -->
<section id="parámetros">
    <h2>Parámetros</h2>
    <mat-divider></mat-divider>
    <br />
    
    <table mat-table [dataSource]="dataSource" style="width: 100%">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
    
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo de dato</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>
    
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.desc }}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</section>
<br />

<!-- Navigation -->
<div class="page-navigator">
  <button
    routerLink="/materials/slider"
    mat-raised-button
    class="primary-button"
  >
    <mat-icon svgIcon="chevron-left"></mat-icon>
    Anterior
  </button>
  <button
    mat-raised-button
    class="primary-button"
    disabled="true"
    style="margin-left: 20px"
  >
    Siguiente
    <mat-icon svgIcon="chevron-right"></mat-icon>
  </button>
</div>
