.demostration-container {
    background-color: whitesmoke;
    padding: 10px;
}

.demo-content {
    padding: 10px;
    overflow-x: auto;
}

/*Demo binding*/
.red-square {
    height: 50px;
    width: 50px;
    background-color: red;
}

.blue-rectangle {
    height: 50px;
    width: 100px;
    background-color: blue;
}