/*Demo binding*/
.red-square {
    height: 50px;
    width: 50px;
    background-color: red;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}

.blue-rectangle {
    height: 50px;
    width: 100px;
    background-color: blue;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}