<mat-toolbar class="color-red-3">
  <button mat-icon-button aria-label="Toggle sidenav" (click)="ToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Copia maestra</span>
  <span class="spacer"></span>
  <button (click)="goToLink('https://ko-fi.com/cprogramadores')" mat-icon-button matTooltip="Donar :D" aria-label="Donación">
    <mat-icon svgIcon="coffee"></mat-icon>
  </button>
  <button (click)="goToLink('https://www.youtube.com/channel/UCwnmM4PmCmmSxzpWK8C_vcA')" mat-icon-button matTooltip="Canal de Youtube" aria-label="Youtube">
    <mat-icon svgIcon="youtube"></mat-icon>
  </button>
</mat-toolbar>
