<mat-drawer-container autosize>
  <mat-drawer #drawer mode="push">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <app-toolbar></app-toolbar>
    <div class="content-wrap">
      <div style="padding-left: 40px; padding-right: 40px; padding-top: 10px; box-sizing: border-box;">
        <router-outlet (activate)="onActivate()"></router-outlet>
        <app-cookie-advice *ngIf="!cookiesAccepted"></app-cookie-advice>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
