<div class="main-title">
    <h1>Bienvenido a la guía definitiva de Angular</h1>
</div>
<br>
<div class="center-content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0jv0fSJ063M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<div
    class="primary-selection" 
    style="background-image: url('https://w0.peakpx.com/wallpaper/571/466/HD-wallpaper-angular-programming-computer.jpg');"
    routerLink="/generales/comandos">
  <span>Conceptos generales</span>
</div>
<br>