<div class="main-title">
    <h1>Bienvenido a la guía definitiva de Angular</h1>
</div>
<br>
<div class="center-content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0jv0fSJ063M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<div
    class="primary-selection" 
    style="background-image: url('https://w0.peakpx.com/wallpaper/571/466/HD-wallpaper-angular-programming-computer.jpg');"
    routerLink="/generales/introduccion">
  <span>Conceptos generales</span>
</div>
<!-- <div
    class="primary-selection" 
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210621/pngtree-yellow-orange-background-image_732345.jpg');"
    routerLink="/generales/introduccion">
  <span>Angular Materials</span>
</div>
<div
    class="primary-selection" 
    style="background-image: url('https://img.freepik.com/free-vector/minimal-geometric-stripe-shape-background_1409-1014.jpg');"
    routerLink="/generales/introduccion">
  <span>Typescript</span>
</div> -->
<br>
