/*Button*/
.main-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-button-container button{
    height: 60px;
    width: 80%;
    font-size: 30px;
    background-color: var(--color-red-3);
}

.main-button-container button:hover{
    background-color: var(--color-red-5);
}

/*Selection*/
.primary-selection {
    width: 100%;
    height: 120px; /*60px*/
    color: white;
    text-align: center;
    background-color: var(--color-red-1);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1);
    font-size: 3vw;
    text-shadow: var(--text-border-black);
    opacity: 0.9;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}

@media screen and (max-width: 601px) {
    .primary-selection {
        font-size: 25px;
    }
}

.primary-selection:hover {
    opacity: 1;
    font-size: 4vw;
    height: 170px; /*70px*/
    filter: brightness(1.3);
}

/*Destacados*/

.dest-container {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--color-red-2);
    cursor: pointer;
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Font*/
    font-size: 25px;
    color: white;
}

.dest-container mat-icon{
    margin-right: 5px;
}

.dest-container:hover {
    background-color: var(--color-red-4);
}