<div class="main-title">
    <h1>Guía definitiva de Angular</h1>
</div>
<br>
<h2>
  ¡Bienvenido!
</h2>
<p>
  ¿Es tu primera vez trabajando con Angular? Presiona el botón para ir directo al inicio 
  de esta guía para conocer este Framework y aprender algunos conceptos básicos.
</p>
<div class="main-button-container">
  <button mat-raised-button class="primary-button" routerLink="/generales/introduccion">¡Comenzar!</button>
</div>

<h2> Categorías</h2>
<p>¿Buscas algo en específico? selecciona la categoría de tu interés.</p>
<div
    class="primary-selection" 
    style="background-image: url('/angular/assets/images/banner1.jpg');"
    routerLink="/generales/introduccion">
  <span>Conceptos generales</span>
</div>

<div
    class="primary-selection" 
    style="background-image: url('/angular/assets/images/banner2.jpg');"
    routerLink="/materials/introduccion">
  <span>Angular Materials</span>
</div>

<div
    class="primary-selection" 
    style="background-image: url('/angular/assets/images/banner3.jpg');"
    routerLink="/intermedio/guards">
  <span>Nivel Intermedio</span>
</div>

<!-- <div
    class="primary-selection" 
    style="background-image: url('/angular/assets/images/banner4.jpg');"
    routerLink="/materials/introduccion">
  <span>Errores comunes</span>
</div>

<div
    class="primary-selection" 
    style="background-image: url('/angular/assets/images/banner5.jpg');"
    routerLink="/materials/introduccion">
  <span>Preguntas comunes</span>
</div> -->
<br>
<h2>
  Destacados
</h2>
<p>
  Descubre las secciones más visitadas o recomendadas de este sitio web.
</p>
<br>
<div class="dest-container" routerLink="/generales/comandos" fragment="generador"> <mat-icon svgIcon="powershell"></mat-icon> Generador de comandos </div>
<div class="dest-container" routerLink="/generales/directivas" fragment="ngshow"> <mat-icon svgIcon="code-json"></mat-icon> Diferencia entre *NgIf y NgShow </div>
<div class="dest-container" routerLink="/generales/directivas" fragment="bind-properties"> <mat-icon svgIcon="code-json"></mat-icon> Bind properties </div>
<div class="dest-container" routerLink="/generales/formularios" fragment="validators"> <mat-icon svgIcon="exclamation-thick"></mat-icon> Validación de formularios </div>
<div class="dest-container" routerLink="/generales/cliente/http"> <mat-icon svgIcon="email"></mat-icon> Cliente HTTP </div>
<div class="dest-container" routerLink="/materials/introduccion"> <mat-icon svgIcon="angularjs"></mat-icon> Ejemplos de Angular Materials </div>
<div class="dest-container" routerLink="/intermedio/guards" fragment="ejemplo-can-deactivate"> <mat-icon svgIcon="lock"></mat-icon> Guard CanDeactivate </div>
<div class="dest-container" routerLink="/intermedio/event/emitter"> <mat-icon svgIcon="exclamation-thick"></mat-icon> Emitir eventos entre componentes </div>
<div class="dest-container" routerLink="/intermedio/interceptor" fragment="implementación"> <mat-icon svgIcon="shield-key-outline"></mat-icon> Agregar un Token a las peticiones </div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6064670444327082"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6064670444327082"
     data-ad-slot="3801697992"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>